<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297497442546-6tvdm8k1rk5k3s17jr955smck10va055.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297497442546-6tvdm8k1rk5k3s17jr955smck10va055</string>
	<key>API_KEY</key>
	<string>AIzaSyAc-0OZAT9XX_qYdUJ2GRxvuXiLUVN_bmg</string>
	<key>GCM_SENDER_ID</key>
	<string>297497442546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Olimpia.FirebaseReview</string>
	<key>PROJECT_ID</key>
	<string>loginpage-aaacb</string>
	<key>STORAGE_BUCKET</key>
	<string>loginpage-aaacb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297497442546:ios:9e91b76fde626cd872b86b</string>
	<key>DATABASE_URL</key>
	<string>https://loginpage-aaacb.firebaseio.com</string>
</dict>
</plist>